apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: infra
spec:
  type: NodePort
  ports:
    - port: 6379         # порт внутри кластера
      targetPort: 6379   # порт контейнера
      nodePort: 30379    # порт на хосте (localhost:30379)
  selector:
    app: redis
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: infra
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis
          ports:
            - containerPort: 6379
