apiVersion: v1
kind: Service
metadata:
  name: valhallaservice
  namespace: infra
spec:
  type: NodePort
  selector:
    app: valhalla
  ports:
    - port: 8012
      targetPort: 8012
      nodePort: 30012
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: valhalla
  namespace: infra
spec:
  replicas: 1
  selector:
    matchLabels:
      app: valhalla
  template:
    metadata:
      labels:
        app: valhalla
    spec:
      containers:
        - name: valhalla
          image: pruginkad/valhalla_moscow:latest
          ports:
            - containerPort: 8012
