apiVersion: v1
kind: Service
metadata:
  name: valhallaservice
  namespace: infra
spec:
  type: NodePort
  selector:
    app: valhalla
  ports:
    - port: 8012       # порт сервиса внутри кластера
      targetPort: 8012 # порт контейнера
      nodePort: 30012  # порт на хосте (localhost:30012)
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: valhalla-pv
  namespace: infra
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: D:/TESTS/multitenant_admin/mt_admin/root_data/valhalla_custom_files
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: valhalla-pvc
  namespace: infra
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: valhalla
  namespace: infra
spec:
  replicas: 1
  selector:
    matchLabels:
      app: valhalla
  template:
    metadata:
      labels:
        app: valhalla
    spec:
      containers:
        - name: valhalla
          image: ghcr.io/gis-ops/docker-valhalla/valhalla:latest
          ports:
            - containerPort: 8012
          volumeMounts:
            - name: valhalla-storage
              mountPath: /custom_files
      volumes:
        - name: valhalla-storage
          persistentVolumeClaim:
            claimName: valhalla-pvc
