networks:
  shared_network:
    name: common_app_network

############################
# Общие настройки для всех сервисов
############################

x-defaults: &default-service
  restart: unless-stopped
  networks:
    - shared_network

services:
  mt_admin.server:
    <<: *default-service
    image: ${DOCKER_REGISTRY-}mtadminserver
    depends_on:
      - keycloakservice
    build:
      context: .
      dockerfile: mt_admin.Server/Dockerfile
    env_file:
      - .env
    ports:
      - ${HTTP_ADMIN_PORT}:${HTTP_ADMIN_PORT}

 ############################
  # Postgres & Keycloak
  ############################
  postgresservice:
    <<: *default-service
    image: postgis/postgis
    volumes:
      - ${ROOT_DATA}/postgres_data:/var/lib/postgresql/data
      #- ${INIT_FILES}/initdb:/docker-entrypoint-initdb.d
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    env_file:
      - .env

  keycloakservice:
    <<: *default-service
    image: quay.io/keycloak/keycloak:latest
    #volumes:
      #- ${INIT_FILES}/keycloak_imports:/opt/keycloak/data/import
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
      KC_DB_USERNAME: ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KEYCLOAK_LOGLEVEL: ALL
      ROOT_LOGLEVEL: ALL
    command: 
      - start-dev
      #- --import-realm
    ports:
      - "${KEYCLOAK_PORT}:${KEYCLOAK_PORT}"
    depends_on:
      - postgresservice
    env_file:
      - .env

# command2export realm:docker exec -ti leaflet-keycloakservice-1 /opt/keycloak/bin/kc.sh export --file /opt/keycloak/data/import/realm-export1.json --realm myrealm

  ############################
  # Valhalla
  ############################
  valhallaservice:
    <<: *default-service
    image: pruginkad/valhalla_moscow:latest
    container_name: valhalla_latest
    ports:
      - ${VALHALLA_PORT}:${VALHALLA_PORT}


  ############################
  # Dapr placement
  ############################
  placement:
    <<: *default-service
    image: "daprio/placement"
    command: ["./placement", "-port", "${PLACEMENT_PORT}"]
    ports:
      - "${PLACEMENT_PORT}:${PLACEMENT_PORT}"

  ############################
  # Redis state store
  ############################
  redis:
    <<: *default-service
    image: redis
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - "${REDIS_PORT_OUT}:${REDIS_PORT_IN}"