############################
# Общие настройки для всех сервисов
############################
x-defaults: &default-service
  restart: unless-stopped
  networks:
    - my-dapr-network

networks:
  my-dapr-network:
    driver: bridge

services:
  mt_admin.server:
    <<: *default-service
    image: ${DOCKER_REGISTRY-}mtadminserver
    build:
      context: .
      dockerfile: mt_admin.Server/Dockerfile

 ############################
  # Postgres & Keycloak
  ############################
  postgresservice:
    <<: *default-service
    image: postgis/postgis
    volumes:
      - ${ROOT_DATA}/postgres_data:/var/lib/postgresql/data
      - ${INIT_FILES}/initdb:/docker-entrypoint-initdb.d
    ports:
      - "${MapDatabase__PgPort}:${MapDatabase__PgPort}"
    env_file:
      - .env

  keycloakservice:
    <<: *default-service
    image: quay.io/keycloak/keycloak:latest
    volumes:
      - ${INIT_FILES}/keycloak_imports:/opt/keycloak/data/import
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgresservice:5432/keycloak
      KC_DB_USERNAME: ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KEYCLOAK_LOGLEVEL: ALL
      ROOT_LOGLEVEL: ALL
    command: 
      - start-dev
      - --import-realm
    ports:
      - 8080:8080
    depends_on:
      - postgresservice

# command2export realm:docker exec -ti leaflet-keycloakservice-1 /opt/keycloak/bin/kc.sh export --file /opt/keycloak/data/import/realm-export1.json --realm myrealm

  ############################
  # Valhalla
  ############################
  valhallaservice:
    <<: *default-service
    image: ghcr.io/gis-ops/docker-valhalla/valhalla:latest
    container_name: valhalla_latest
    ports:
      - ${VALHALLA_PORT}:${VALHALLA_PORT}
    volumes:
      - ${ROOT_DATA}/valhalla_custom_files/:/custom_files
